.card-review {
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 341px;
    padding: 32px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(23, 28, 31, 0.23);

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__text {
        font-weight: 450;
        font-size: 16px;
        line-height: 1.5;
        color: var(--text-muted);
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: auto;
    }

    &__author-img {
        border-radius: 100%;
    }

    &__author-title {}

    &__author-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    &__author-role {
        font-weight: 450;
        font-size: 16px;
        line-height: 1.5;
        color: var(--text-muted);
    }
}