.discover {
    padding: 60px 0;

    @include mediaMobile() {
        padding: 30px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 80px;

        @include mediaTablet () {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }

    &__desc {}

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 40px;

        @include mediaMobileXS() {
            margin-bottom: 20px;
        }
    }

    &__form {}

    &__picture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: fit-content;

        @include mediaTablet {
            grid-row: -1 / 1;
        }
    }

    &__picture-hint {
        position: absolute;
        top: 90px;
        left: 40px;
        z-index: 9;

        @include mediaLaptop {
            top: 40px;
            left: 20px;
        }

        @include mediaMobile {
            top: 30px;
            left: 0;
        }

        @include mediaMobileXS() {
            display: none;
        }
    }

    &__picture-scroll {
        position: absolute;
        right: 15px;
        bottom: 20px;

        @include mediaLaptop {
            right: 0;
            bottom: 0;
        }

        @include mediaMobile {
            width: 30%;
        }
    }

    &__picture-img {}
}