.discover {
    padding: 60px 0;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 80px;
    }

    &__desc {}

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__form {}

    &__picture {
        position: relative;
    }

    &__picture-hint {
        position: absolute;
        top: 90px;
        left: 40px;
        z-index: 9;
    }

    &__picture-scroll {
        position: absolute;
        right: 15px;
        bottom: 20px;
    }

    &__picture-img {}
}