.subscribe {
    overflow: hidden;
    padding: 80px 0;
    background: var(--accent);

    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-left: 180px;

        &::before {
            content: '';
            position: absolute;
            top: -110px;
            left: -80px;
            width: 236px;
            height: 273px;
            background: url('../img/subscribe/subscribe-pin-bg.svg') no-repeat;
        }
    }

    &__desc {
        display: grid;
        gap: 4px;
    }

    &__title {
        font-weight: 500;
        font-size: 28px;
        color: #fff;
    }

    &__text {
        font-weight: 450;
        font-size: 20px;
        color: #f0f0f0;
    }

    &__form {
        flex-grow: 1;
    }
}