.testimonials {
    overflow: hidden;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @include mediaTablet() {
            display: none;
        }
    }

    &__col {

        &:nth-child(2) {
            padding-top: 100px;
        }

        &:nth-child(3) {
            padding-top: 50px;
        }
    }

    &__swiper {
        height: 900px;
        overflow: initial;

        @include mediaLaptop() {
            height: 600px;
        }

        .swiper-slide {
            height: auto;
        }
    }

    &__horizontal {
        display: none;

        @include mediaTablet() {
            display: block;
        }

        .swiper {
            padding: 15px 0;
        }
    }
}