.title-1 {
    font-weight: 700;
    font-size: 72px;

    @mixin mediaTablet () {
        font-size: 52px;
    }

    @include mediaMobile() {
        font-size: 32px;
    }

    @include mediaMobileXS() {
        font-size: 26px;
    }

    &--decor {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 268px;
            height: 24px;
            background: url('../img/discover/underline.svg') no-repeat;

            @include mediaMobile() {
                width: 184px;
                height: 12px;
                background-size: contain;
            }
        }
    }
}